<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>47A097</string>
	<key>paletteColor2</key>
	<string>86D1C6</string>
	<key>paletteColor3</key>
	<string>006A73</string>
	<key>paletteColor4</key>
	<string>007289</string>
	<key>paletteColor5</key>
	<string>01B4C6</string>
</dict>
</plist>
