<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>EBF3F7</string>
	<key>paletteColor2</key>
	<string>EB86B6</string>
	<key>paletteColor3</key>
	<string>FFA46B</string>
	<key>paletteColor4</key>
	<string>D1CF4F</string>
	<key>paletteColor5</key>
	<string>9ED7DB</string>
</dict>
</plist>
