<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>3A7484</string>
	<key>paletteColor2</key>
	<string>A3EAFF</string>
	<key>paletteColor3</key>
	<string>70BBD1</string>
	<key>paletteColor4</key>
	<string>84582D</string>
	<key>paletteColor5</key>
	<string>D1A070</string>
</dict>
</plist>
