<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>67917A</string>
	<key>paletteColor2</key>
	<string>170409</string>
	<key>paletteColor3</key>
	<string>B8AF03</string>
	<key>paletteColor4</key>
	<string>CCBF82</string>
	<key>paletteColor5</key>
	<string>E33258</string>
</dict>
</plist>
