<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>FFFCD2</string>
	<key>paletteColor2</key>
	<string>FDD49C</string>
	<key>paletteColor3</key>
	<string>BB8F72</string>
	<key>paletteColor4</key>
	<string>866E6A</string>
	<key>paletteColor5</key>
	<string>5B5964</string>
</dict>
</plist>
