<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>170301</string>
	<key>paletteColor2</key>
	<string>FCFCFF</string>
	<key>paletteColor3</key>
	<string>EEEEE9</string>
	<key>paletteColor4</key>
	<string>E7E7E5</string>
	<key>paletteColor5</key>
	<string>D9DADE</string>
</dict>
</plist>
