<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>FEF0C9</string>
	<key>paletteColor2</key>
	<string>F4ABA2</string>
	<key>paletteColor3</key>
	<string>BC7C97</string>
	<key>paletteColor4</key>
	<string>FFDBD2</string>
	<key>paletteColor5</key>
	<string>FAC7B2</string>
</dict>
</plist>
