<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>3FB8AF</string>
	<key>paletteColor2</key>
	<string>7FC7AF</string>
	<key>paletteColor3</key>
	<string>DAD8A7</string>
	<key>paletteColor4</key>
	<string>FF9E9D</string>
	<key>paletteColor5</key>
	<string>FF3D7F</string>
</dict>
</plist>
