<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>FE4365</string>
	<key>paletteColor2</key>
	<string>FC9D9A</string>
	<key>paletteColor3</key>
	<string>F9CDAD</string>
	<key>paletteColor4</key>
	<string>C8C8A9</string>
	<key>paletteColor5</key>
	<string>83AF9B</string>
</dict>
</plist>
