<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>0C3127</string>
	<key>paletteColor2</key>
	<string>EA273C</string>
	<key>paletteColor3</key>
	<string>F75E67</string>
	<key>paletteColor4</key>
	<string>B1A39C</string>
	<key>paletteColor5</key>
	<string>445A56</string>
</dict>
</plist>
