<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>F0ECEB</string>
	<key>paletteColor2</key>
	<string>F0E4BC</string>
	<key>paletteColor3</key>
	<string>EED95A</string>
	<key>paletteColor4</key>
	<string>BCBA63</string>
	<key>paletteColor5</key>
	<string>3D6C72</string>
</dict>
</plist>
