<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteColor1</key>
	<string>B3CC57</string>
	<key>paletteColor2</key>
	<string>ECF081</string>
	<key>paletteColor3</key>
	<string>FFBE40</string>
	<key>paletteColor4</key>
	<string>EF746F</string>
	<key>paletteColor5</key>
	<string>AB3E5B</string>
</dict>
</plist>
